 <div class="button-close">
    <ng-container *ngIf="bunttonClose; else cerrarDialog">
      <button
        mat-icon-button
        (click)="bunttonClose.Function()"
        aria-label="Cerrar"
        class="btn-close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-container>
  
    <ng-template #cerrarDialog>
      <button
        mat-icon-button
        mat-dialog-close
        aria-label="Cerrar"
        class="btn-close"
      >
        <mat-icon>close</mat-icon>
      </button>
    </ng-template>
  </div>

  <div style="height:88%" mat-dialog-content>
    <object [data]="documentData|safeUrl" type="application/pdf" *ngIf="documentLoad"></object>
</div>
<div class="nofile" *ngIf="!documentLoad">
  Error al cargar el documento
</div>
<mat-dialog-actions align="center">
  <div *ngIf="modalButtonsFunc && modalButtonsFunc.length > 0">
    <div *ngFor="let button of modalButtonsFunc">
      <button
        mat-button
        [ngClass]="button.Classes"
        (click)="button.Function()"
        [style.background-color]="button.Color">
   {{ button.Text }}
      </button>
    </div>
  </div>
</mat-dialog-actions>

