<div class="modal-header">
    <button mat-icon-button (click)="close()" >
      <mat-icon color="warn">close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <object [data]="documentData|safeUrl" type="application/pdf" *ngIf="documentLoad"></object>
</div>
<div class="nofile" *ngIf="!documentLoad">
  Error al cargar el documento
</div>
<mat-dialog-actions align="center">
  <button
    mat-flat-button
    mat-dialog-close
    color="warn"
  >
    Cerrar
  </button>
</mat-dialog-actions>