<section>
  <mat-accordion>
    <mat-expansion-panel
      [expanded]="true"
      (opened)="panelOpenStateEvaluadores = true"
      (closed)="panelOpenStateEvaluadores = false"
    >
      <mat-expansion-panel-header class="bg-panel-title">
        <mat-panel-title class="expansion-panel-title-box">
          <div>
            <h3 class="title color-white text-center">Item a evaluar</h3>
          </div>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <article>
        <div class="box-form">
          <form
            class="form"
            (ngSubmit)="agregarItem()"
            [formGroup]="formAddIntems"
          >
            <div class="box-text-area">
              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Id
                </div>
                <mat-form-field class="id-input input-680">
                  <mat-label>Id</mat-label>
                  <input matInput placeholder="Id" formControlName="id_item" />
                  <mat-error
                    *ngIf="
                      formularioEnviado && formAddIntems.get('id_item')?.invalid
                    "
                    class="label-error text-center"
                  >
                    Ingresa el Id
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Nombre
                </div>
                <mat-form-field class="input-680">
                  <mat-label>Nombre</mat-label>
                  <input
                    matInput
                    placeholder="Nombre"
                    formControlName="nombre_item"
                  />
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('nombre_item')?.invalid
                    "
                    class="label-error"
                  >
                    Ingresa el nombre del item
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Cantidad
                </div>
                <mat-form-field
                  class="width-text-area cantidad-input input-680"
                >
                  <mat-label> Agrega Cantidad</mat-label>
                  <input
                    class="text-area"
                    matInput
                    placeholder=""
                    formControlName="cantidad_item"
                  />
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('cantidad_item')?.invalid
                    "
                    class="label-error"
                  >
                    Ingresa la cantidad
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Valor
                </div>
                <mat-form-field class="width-text-area valor-input input-680">
                  <mat-label>Agrega Valor</mat-label>
                  <input
                    class="text-area"
                    matInput
                    placeholder=""
                    formControlName="valor_item"
                  />
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('valor_item')?.invalid
                    "
                    class="label-error"
                  >
                    Ingresa el valor
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Iva
                </div>
                <mat-form-field class="width-text-area iva-input input-680">
                  <mat-label class="text-center">Iva</mat-label>
                  <input
                    class="text-area"
                    matInput
                    placeholder=""
                    formControlName="iva_item"
                  />
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('iva_item')?.invalid
                    "
                    class="label-error"
                  >
                    Ingresa el iva
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Unidad
                </div>
                <mat-form-field class="width-text-area unidad-input input-680">
                  <mat-label>Unidad</mat-label>
                  <mat-select formControlName="unidad_item">
                    <mat-option
                      *ngFor="let unidad of listaUnidades"
                      [value]="unidad.Id"
                      >{{ unidad.Unidad }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('unidad_item')?.invalid
                    "
                    class="label-error"
                  >
                    Agrega la Unidad
                  </mat-error>
                </mat-form-field>
              </div>

              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Tipo
                </div>
                <mat-form-field class="width-text-area unidad-input input-680">
                  <mat-label>Tipo</mat-label>
                  <mat-select formControlName="tipo_necesidad_item">
                    <mat-option
                      *ngFor="let Tipo of listaTipoNecesidad"
                      [value]="Tipo.Id"
                      >{{ Tipo.Tipo }}</mat-option
                    >
                  </mat-select>
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('tipo_necesidad_item')?.invalid
                    "
                    class="label-error"
                  >
                    Agrega la Unidad
                  </mat-error>
                </mat-form-field>
              </div>
              <div>
                <div class="tex-size-17 text-color-principal margin-10px">
                  Descripcion item
                </div>
                <mat-form-field class="item-descripcion input-680">
                  <mat-label>Agrega Descripcion</mat-label>
                  <textarea
                    class="text-area"
                    matInput
                    placeholder=""
                    formControlName="descripcion_item"
                  ></textarea>
                  <mat-error
                    *ngIf="
                      formularioEnviado &&
                      formAddIntems.get('descripcion_item')?.invalid
                    "
                    class="label-error"
                  >
                    Ingresa la descripción
                  </mat-error>
                </mat-form-field>
              </div>
            </div>

            <div class="margin-10px box-buttons">
              <div class="text-left">
                <small class="margin-10px">Adjuntar Items</small>
                <button
                  type="button"
                  (click)="openDialogCargarExcel()"
                  class="btn-add"
                  mat-button
                >
                  <mat-icon>upload</mat-icon>
                  Adjuntar
                </button>
              </div>
              <div class="text-right">
                <button type="button" class="btn-add" mat-button (click)="guardarItems()">
                  <mat-icon>save</mat-icon>
                  Guardar
                </button>
              </div>
              <div class="text-right">
                <button type="submit" class="btn-add" mat-button>
                  <mat-icon>add</mat-icon>
                  Agregar
                </button>
              </div>
            </div>
          </form>
        </div>

        <div *ngIf="listaItems.length">
          <app-tabla
            #tablaComponent
            [data]="listaItems"
            [displayedColumns]="displayedColumns"
            (actionClicked)="handleActionClick($event)"
          />
        </div>
      </article>
    </mat-expansion-panel>
  </mat-accordion>
</section>
