<div>
  <mat-card-header class="soporte-cumplido-header">
    <mat-card-title class="soporte-cumplido-title">{{
      soporte.Documento.Nombre
    }}</mat-card-title>
  </mat-card-header>
  <div class="box-docs">
    <mat-card-content class="soporte-cumplido-content">
      <div class="box-docs">
        <p class="">{{ soporte.Documento.FechaCreacion }}</p>

        <p class="">{{ soporte.Documento.TipoDocumento }}</p>
      </div>
      <div class="box-text-area">
        <p matInput>{{ soporte.Documento.Descripcion }}</p>
      </div>
      <!-- <div>
        <h2> Comentarios: </h2>
        <ul>
          <ng-template *ngFor="let comentario of soporte.Comentarios">
            <li *ngIf="comentario.Comentario !=''">
              <p >{{comentario.CambioEstadoCumplidoId.CargoResponsable}} : {{ comentario.Comentario }} </p>
            </li>
          </ng-template>


        </ul>
      </div>
      <div>
        <textarea [(ngModel)]="comentario" name="" class="box-text-area" id="" *ngIf="(config.mode==mode.PRC || config.mode==mode.PRO) && (config.rolUsuario==rolUsuario.C ||config.rolUsuario==rolUsuario.O)"></textarea>
      </div> -->
      <div *ngIf="(config.mode == mode.PRC || config.mode == mode.PRO) && (config.rolUsuario == rolUsuario.C || config.rolUsuario == rolUsuario.O)" style="margin-top: 5px;">
        <form [formGroup]="comentarioForm" (ngSubmit)="enviarComentario()">
          <!-- <textarea id="comentario" formControlName="comentario" placeholder="Escribe un comentario" class="box-text-area"></textarea> -->

          <div *ngIf="comentarioForm.get('comentario')?.invalid && comentarioForm.get('comentario')?.touched">
            <span *ngIf="comentarioForm.get('comentario')?.hasError('minlength')">El comentario debe tener al menos 10 caracteres</span>
          </div>

        </form>
      </div>


    </mat-card-content>
  </div>

  <mat-card-footer>
    <div class="btn-box">
      <div>
        <button
          mat-button
          class="btn-eliminar"
          (click)="eliminarSoporte()"
          *ngIf="config.mode == mode.CD && config.rolUsuario == rolUsuario.S"
        >
          Eliminar
        </button>
      </div>
      <div *ngIf="buttons && buttons.length > 0">
        <div *ngFor="let button of buttons">
          <button
            mat-button
            [ngClass]="button.Classes"
            (click)="button.Function(soporte)"
          >
            <mat-icon [color]="button.Color">{{ button.FontIcon }}</mat-icon>
            {{ button.Text }}
          </button>
        </div>
      </div>
      <!-- <button mat-button class="btn-eliminar" (click)="enviarComentario()"
          *ngIf="(config.mode==mode.PRC || config.mode==mode.PRO) && (config.rolUsuario==rolUsuario.C ||config.rolUsuario==rolUsuario.O)">
          Comentar
        </button> -->
    </div>
  </mat-card-footer>
</div>
<!--  <button mat-button class="ver-documentos-button" (click)="openVerSoporte()">
          Ver
        </button>-->
