.card-content{
    width: 60%;
    background-color: lightblue;
    margin: 0 auto;
  }

  .soporte-cumplido-card{
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 15px;
  }


  .soporte-cumplido-header{
    display: flex;
    justify-content: center;
  }


  .soporte-cumplido-title{
    text-align: center;
    margin-top: 10%;
    color: #98483c;
    font-size: 17px;
    margin-bottom: 0;
  }

  .soporte-cumplido-content{
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  p{
    color: grey !important;
    font-size: 15px;
  }

  .box-text-area{
    border-width: 0;
    resize: none;
    background-color: #f8cecc;
    height: 100px;
    width: 100%;
    color: rgb(85, 83, 83) !important;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #b85450;
  }

  .btn-eliminar{
    background-color: #f8cecc;
    color: #1f1e1e;
    border-radius: 5px;
    border: 1px solid #b85450;
    cursor: pointer;
    margin: 2px;
  }
  .btn-box{
      display: flex;
      justify-content: center;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      border: 4px;
      box-sizing: border-box;
      justify-items: center;
      padding: 5px;

  }

  .box-docs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-bottom:5px;
  }
  .soporte-cumplido-footer{
    display: flex;
    justify-content: center;
  }

  .ver-documentos-button {
    background-color: #98483C;
    color: white;
    border-radius: 5px;
    border: 1px solid #b85450;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: end;
}

.eliminar-documento-button {
    background-color: #98483C;
    color: white;
    border-radius: 5px;
    border: 1px solid #b85450;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: start;
}

.eliminar-documento-button:hover {
    background-color: #e8a3a1;
    transform: scale(1.05);
}

.comentarios-documento-button {
    background-color: #98483C;
    color: white;
    border-radius: 5px;
    border: 1px solid #b85450;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    transition: background-color 0.3s, transform 0.3s;
    display: flex;
    justify-content: start;
}

.comentarios-documento-button:hover {
    background-color: #e8a3a1;
    transform: scale(1.05);
}

.ver-documentos-button:hover {
    background-color: #e8a3a1;
    transform: scale(1.05);
}
  .margin-section{
    margin: 3px;
  }

  .mat-card-footer{
    margin-bottom: 5px;
  }

  .dos-botones{
    margin-right:15%;
  }

  .tres-botones{
    margin-right: 5%;
    margin-left: 5%;
  }
