.box-spiner{
  display: grid !important;
  grid-template-columns: repeat(1, 1fr) !important;
  align-items: center !important;
  justify-content: center !important;
  text-align: center !important;
  place-items: center!important;
}
.modal-header {
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  color: red;
}

.ver-soportes-tittle{
    justify-content: center;
    color: white;
    background-color: #8C1A19;
    padding: 10px;
  }
  
  .ver-soportes-card{
    border-radius: 10px;
    width: 920px;
    margin: 0 auto;
  }
  
  .spaced-paragraph {
    margin-top: 10%;
    color: black;
    text-align: center;
    margin-bottom: 5%;
  }
  
  app-soporte-cumplido{
    margin-bottom: 50px;
  }

.form-soporte {
border: 1px solid #98483c;

}
