<div class="modal-header">
  <button mat-icon-button (click)="close()">
    <mat-icon color="warn">close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <app-form-soporte [cumplidoProveedorId]="cumplidoProveedorId"
    (recargarSoportes)="cargarSoportes()"
    *ngIf="data.Config.mode==mode.CD"
  ></app-form-soporte>
  <!-- <app-subir-soporte> </app-subir-soporte>
    <br>
    <app-visualizar-soportes></app-visualizar-soportes> -->
  <mat-card class="ver-soportes-card">
    <mat-card-header class="ver-soportes-tittle">
      <mat-card-title>Soportes</mat-card-title>
    </mat-card-header>
    <mat-card-content
      *ngIf="soportes == undefined; then Cargando; else listarSoportes"
    >
    </mat-card-content>
    <ng-template #Cargando><mat-spinner></mat-spinner></ng-template>
    <ng-template #listarSoportes>
      <section *ngIf="soportes.length != 0;then conSoportes else  sinSoportes">
       
      </section>
      <ng-template #conSoportes>
        <p class="spaced-paragraph">
          A continuación se muestran los soportes asociados al cumplido
        </p>
        <mat-card>
          <div class="margin-section">
            <mat-card
              class="soporte-cumplido-card"
              *ngFor="let soporte of soportes"
            >
              <app-card-soporte
                [soporte]="soporte"
                [config]="this.data.Config"
                [cambioEstadoCumplido]="cambioEstadoCumplido"
                (recargarSoportes)="cargarSoportes()"
              ></app-card-soporte>
            </mat-card>
          </div>
        </mat-card>
      </ng-template>
      <ng-template #sinSoportes>
        <p>No se encontraron soportes!</p>
      </ng-template>
    </ng-template>
  </mat-card>
</div>
