.modal-header {
  display: flex;
  justify-content: flex-end;
}

mat-icon {
  color: red;
}

.ver-soportes-tittle{
    justify-content: center;
    color: white;
    background-color: #98483c;
    border-radius: 10px;
    padding: 10px;
  }
  
  .ver-soportes-card{
    border-radius: 10px;
    width: 920px;
    margin: 0 auto;
  }
  
  .spaced-paragraph {
    color: black;
    text-align: center;
  }
  
  .app-soporte-cumplido{
    margin-bottom: 50px;
  }
  .text-center{
    text-align: center;
  }