.card-oas{
  border-radius: 10px !important;
  margin-bottom: 1% !important;
  margin: 1%;
}

.expansion-panel-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white !important;
}
.mat-expansion-panel-header {
  background-color: #8c1a19 !important;
  color: white !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: white;
}
