<div class="box-items">
  <mat-card class="card-item" *ngFor="let evaluador of listaEvaluadores">
    <div class="box-item margin-5px">
      <div class="box-items">
        <div><span>N° de Documento</span></div>
        <div>
          <textarea class="documento-box text-area  text-center">{{
            evaluador.NumeroDocumento
          }}</textarea>
        </div>
      </div>
      <div class="box-items">
        <div  ><span>Cargo</span></div>
        <div  >
          <textarea class="item-nombre text-area  text-center">{{
            evaluador.Cargo
          }}</textarea>
        </div>
      </div>
      <div class="box-items">
        <div > <span>Items a evaluar</span></div>
        <div  >
          <textarea class="text-area text-center">{{
            evaluador.ItemAEvaluar
          }}</textarea>
        </div>
      </div>
      <div class="box-items">
        <div><span>Procentaje
        </span></div>
        <div>
          <textarea class="text-area text-center">{{
            evaluador.PorcentageDeEvaluacion
          }}</textarea>
        </div>
      </div>
      <div>
        <button
          type="button"
          class="btn-delete"
          (click)="eliminarItem(evaluador.NumeroDocumento)"
        >
          <span class="material-symbols-outlined text-btn-delete">
            delete
          </span>
        </button>
      </div>
    </div>
  </mat-card>
</div>
