<mat-card style="background-color:#F9F9F9; padding-bottom:1%">
  <mat-card class="card-container">
    <div class="card-container">
      <mat-card-title class="card-tittle">
        <h2> {{tittle}} </h2>
      </mat-card-title>
      <mat-card-content class="container-botones">
        <button mat-button style="color:white" class="button">
          <mat-icon style="color:white">file_download</mat-icon> DESCARGAR EVALUACIÓN
        </button>
        <button mat-button style="color:white; background-color:#D65756" class="button">
          <mat-icon style="color:white">keyboard_arrow_left</mat-icon> REGRESAR
        </button>
      </mat-card-content>
    </div>
  </mat-card>
  <app-informacion-general />
  <app-listar-elementos [tittle]="'Items evaluados'" [lista]="listaItems" />
  <app-listar-elementos [tittle]="'Observaciones'" [lista]="listaObservaciones" />
  <app-evaluadores [evaluadores]="listaEvaluaciones" />

  <mat-card class="card-container">
    <div class="card-container">
      <mat-card-title class="card-tittle">
        <h2> Puntaje total de la evaluación </h2>
      </mat-card-title>
      <mat-card-content class="container-inputs">
        <mat-form-field>
          <input matInput disabled [value]="calcularPromedioEvaluaciones(listaEvaluaciones)" style="text-align:center">
        </mat-form-field>
        <mat-form-field>
          <input matInput disabled [value]="calcularPonderadoEvaluacion(calcularPromedioEvaluaciones(listaEvaluaciones)) " style="text-align: center">
        </mat-form-field>
      </mat-card-content>
    </div>
    
      
  </mat-card>
</mat-card>
