<div *ngIf="!visualizacion">
  <form [formGroup]="FormularioPregunta">
    <div class="box-pregunta">
      <div class="box-caracteristica">
        <div class="color-principal text-center">
          {{ pregunta.titulo }}
        </div>
        <div class="text-center">{{ pregunta.pregunta }}</div>
        <div style="text-align: center">
          <p>Seleccione una opción</p>
          <mat-form-field class="mat-form-field">
            <mat-select formControlName="cumplimiento" placeholder="Seleccione una opción" style="text-align: center">
              <mat-option value="" disabled>Seleccione una opción</mat-option>
              <mat-option *ngFor="let opcion of pregunta.valorAsignado" value={{opcion.valor}}> {{opcion.cumplimiento}} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-error *ngIf="cumplimientoControl.invalid && cumplimientoControl.touched">
            Por favor seleccione una opción
          </mat-error>
        </div>
      </div>
      <div class="text-center">
        <p class="line-text">{{ valorSeleccionado }}</p>
      </div>
    </div>
  </form>
</div>

<div *ngIf="visualizacion">
  <div class="box-pregunta">
    <div class="box-caracteristica">
      <div class="color-principal text-center">
        {{ pregunta.titulo }}
      </div>
      <div class="text-center">{{ pregunta.pregunta }}</div>
      <div style="text-align: center">
        <mat-form-field>
          <input style="text-align: center;" matInput disabled [value]="pregunta.cumplimiento">
        </mat-form-field>
      </div>
    </div>
    <div class="text-center">
      <p class="line-text">{{ pregunta.valorAsignado }}</p>
    </div>
  </div>
</div>