.component-principal-header{
    display: grid;
    justify-content: center;
}

.card-oas{
    width: 100%;
    height: 100%;
}

.button-regresar{
  align-self: end;
  justify-self: end;
  position: absolute;
  color: white !important;
  background-color: #98483c;
  border-bottom: 1px solid #98483c;
  margin-right: 10px;
}

.title-component-principal{
  text-align: center;
  margin-top: 10%;
  color: #98483c;
  font-size: 2em;
  margin-bottom: 0;
  border-bottom: 1px solid #98483c;
  padding-bottom: 5px;
  display: inline-block;
  width: 180%;
  position: relative;
  left: -30%;
}
