.modal-header {
    display: flex;
    justify-content: flex-end;
}

.cargar-documentos-title {
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #98483c;
    padding: 10px;
}


.cardContend{
    margin: 10px;
}