<div class="button-close">
  <button mat-icon-button mat-dialog-close aria-label="Cerrar">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div>
  <mat-card>
    <div>
      <mat-card-header class="card-title">
        <div>
          <mat-card-title> VER SOPORTES </mat-card-title>
        </div>
      </mat-card-header>
      <div class="m-l-4">
        <p class="texto-gris-negrita">Aprobado por : Julio Cesar</p>
      </div>
      <div class="text-center">
        <p>A continuacion Se muestran los soportes asocciados al cumplido</p>
      </div>
      <div>
        <mat-card-content *ngFor="let documento of documentos">
          <div  >
            <mat-card >
              <div>
                <mat-card-content>
                  <div>
                    <div class="container">
                      <div class="column">
                        <div>
                          <p class="nombre-documento">{{documento.name}}</p>
                        </div>
                        <div>
                          <p>Comentario Informe</p>
                        </div>
                      </div>
                      <div class="column">
                        <div>Observaciones</div>
                        <div>
                          <textarea> </textarea>
                        </div>
                      </div>
                    </div>
                    <div class="container-button">
                      <div class="m-4">
                        <a mat-button color="primary">Ver documento</a>
                      </div>
                      <div class="m-4">
                        <a mat-button color="primary" (click)="enviarComnetario()">Enviar Observaciones</a>
                      </div>
                    </div>
                  </div>
                </mat-card-content>
              </div>
            </mat-card>
          </div>
        </mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
