
.card-oas{
  border-radius: 10px !important;
  margin-bottom: 1% !important;
  margin: 1%;
}


.container-inputs{
  margin-top:2%;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.input-text {
  text-align: center;
  white-space: normal;
  overflow-wrap: break-word;
  line-height: 1.5;
}

.expansion-panel-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 1.5% 0.8%;
  color: white !important;
}
.mat-expansion-panel-header {
  background-color: #8c1a19 !important;
  color: white !important;
}

:host ::ng-deep .mat-expansion-indicator::after {
  color: white;
}

.textarea {
  white-space: pre-wrap;       /* Asegura que los saltos de línea sean visibles */
  overflow-wrap: break-word;  /* Ajusta palabras largas */
  word-wrap: break-word;      /* Compatibilidad con navegadores antiguos */
  line-height: 1.5;           /* Mejora la legibilidad */
  resize: none;               /* Desactiva el cambio manual de tamaño */
  height: auto;               /* Ajusta dinámicamente el tamaño del campo */
  min-height: 50px;           /* Altura mínima */
  max-height: 200px;          /* Altura máxima para evitar que sea demasiado grande */
}

.mat-mdc-text-field-wrapper {
  width: 70%;
}
