
.card-oas{
  border-radius: 10px !important;
  margin-bottom: 1% !important;
  margin: 1%;
  padding: 0 1%;
}

.card-tittle{
  display: flex;
  color: #98483C;
  width: 50%;
  height: 20%;
  margin: 1.5% 0.8%;
}
.container-inputs{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 5%;
}

.input-text {
  text-align: center;
}