<mat-accordion style="border-radius: 10px;">
  <mat-expansion-panel class="card-oas" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title class="card-tittle"> <h1> {{tittle}} </h1> </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="container-inputs" *ngFor="let evaluador of evaluadores">
      <mat-form-field appearance="outline">
        <mat-label>Cédula de ciudadania</mat-label>
        <input matInput disabled [value]="evaluador.numeroCedula" class="input-text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Cargo</mat-label>
        <input matInput disabled [value]="evaluador.cargo" class="input-text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Items evaluados</mat-label>
        <input matInput disabled [value]="evaluador.itemsEvaluados.join(',')" class="input-text">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Evaluación dada</mat-label>
        <input matInput disabled [value]="evaluador.evaluacionDada" class="input-text">
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>




