<section>
  <mat-card>
    <div class="margin-section">
      <mat-card
        class="soporte-cumplido-card"
        *ngFor="let soporte of soportes"
      >
      <div>
        <mat-card-header class="soporte-cumplido-header">
          <mat-card-title class="soporte-cumplido-title">{{
            soporte.nombre
          }}</mat-card-title>
        </mat-card-header>
        <div class="box-docs">
          <mat-card-content class="soporte-cumplido-content">
            <div class="box-docs">
              <p class="">{{ soporte.fecha }}</p>

              <p class="">{{ soporte.item }}</p>
            </div>
            <div>
              <textarea matInput class="box-text-area" disabled="true"
                >{{ soporte.comentario }} 
                </textarea
              >
            </div>
          </mat-card-content>
        </div>

        <mat-card-footer>
          <div class="btn-box">
            <div>
              <button
                mat-button
                class="btn-eliminar"
                (click)="eliminarSoporte(soporte)"
              >
                Eliminar
              </button>
            </div>
            <div>
              <button
                mat-button
                class="ver-documentos-button"
                (click)="openVerSoporte(soporte.archivo)"
              >
                VER
              </button>
            </div>
          </div>
        </mat-card-footer>
      </div>
      </mat-card>
    </div>
  </mat-card>
</section>
