<mat-card class="soporte-cumplido-card" *ngFor="let soporte of soportes">
  <mat-card-header class="soporte-cumplido-header">
      <mat-card-title class="soporte-cumplido-title">{{ soporte.nombre }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="soporte-cumplido-content">
    <p class="soporte-cumplido-fecha"> {{ soporte.fecha }} </p>

    <p class="soporte-cumplido-item"> {{ soporte.item }} </p>

    <textarea matInput class="soporte-cumplido-text-area" disabled="true" > {{ soporte.comentario }} </textarea>

  </mat-card-content>
  <mat-card-footer class="soporte-cumplido-footer">
      <button mat-button class="eliminar-button" (click)="eliminarSoporte(soporte)">Eliminar</button>
      <button mat-button class="ver-documentos-button" (click)="openVerSoporte(soporte.archivo)"> VER DOCUMENTO</button>
  </mat-card-footer>
</mat-card>

