.card-formulario-informe-seguimiento {
  margin-top: 1%;
  border-radius: 5px;
}

.labels {
  color: black !important;
  font-size: 16px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.7fr;
  gap: 2rem;
  box-sizing: border-box;
}

@media screen and (max-width: 1280px) {
  form {
    grid-template-columns: 1fr !important;
  }
}

.wp-item-form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1.5rem;
}

.wp-item-form:last-child {
  align-items: center;
  justify-content: center;
}

.wp-payment-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.wp-dates {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
}

.p-final-date {
  color: grey !important;
  font-size: 16px;
  margin: 0 10px;
}

.wp-collection-account {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border: 2px solid #b59695;
  padding: 2rem;
}

.wp-collection-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.wp-payment-value {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wp-bank-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: 2px solid #b59695;
  padding: 0.5rem;
}

.wp-change-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 3rem;
}

.bank-info-items {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.title-bank-info {
  color: #98483c;
  font-size: 26px;
}

.btn {
  width: 60%;
  height: 50px;
  font-size: 16px;
  border-radius: 10px;
}

.btn-save {
  background-color: #f8cecc;
}

.btn-view {
  background-color: #f8cecc;
  width: 40%;
  height: 40px;
  border: none;
}

.icon-ayuda {
  border-radius: 50%;
  background-color: black;
  padding: 0;
}

.selects-fecha {
  text-align: center;
}

.error-message{
  color:#955654;
}
::ng-deep .mat-calendar-content {
  padding: 0 8px 8px 8px;
  outline: none;
  height: 100%;
}

::ng-deep .mat-calendar-table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
  height: 70%;
}

::ng-deep thead {
  height: 20%;
}

::ng-deep th {
  text-align: center;
  padding: 0 0 0px 0;
}

::ng-deep .mat-calendar-table-header th {
  text-align: center;
  padding: 0 0 0px 0;
}

::ng-deep .mat-calendar-table-header-divider {
  text-align: center;
  padding: 0 0 0px 0;
}

::ng-deep .mat-calendar-table-header {
  text-align: center;
  padding: 0 0 0px 0;
}

.label-error{
color: #98483c;
}

.mat-form-field.ng-invalid .mat-select .mat-select-outline {
  border-color: #c62828 !important; /* Cambia al color rojo cuando es inválido */
}

.mat-form-field.ng-invalid .mat-error {
  color: #c62828 !important}