.component-principal-header{
    display: flex;
    justify-content: center;
}

.card-oas{
    width: 100%;
    height: 100%;
}

.title-component-principal{
  text-align: center;
  margin-top: 10%;
  color: #98483c;
  font-size: 2em;
  margin-bottom: 0;
  border-bottom: 1px solid #98483c;
  padding-bottom: 5px;
  display: inline-block;
  width: 180%;
  position: relative;
  left: -30%;
}
