.custom-dialog-container {
  border-radius: 8px;
  padding: 20px;
}


.container-cargar-modal{
  display: flex;
  justify-content: center;
  justify-items: center;

}

.cargar-modal-button{
  background-color: #d5e8d4;
  color: #1f1e1e;
  border-radius: 5px;
  width: 30%;
  height: 56px;
}
