.custom-dialog-container {
  border-radius: 8px;
  padding: 20px;
}


.container-cargar-modal{
  display: flex;
  justify-content: center;
  justify-items: center;

}

.cargar-modal-button{
  background-color: #d5e8d4;
  color: #1f1e1e;
  border-radius: 5px;
  width: 30%;
  height: 56px;
}



.container-historico .mat-dialog-content {
  width: 80vw;
  max-width: 600px; 
  height: 70vh; 
  max-height: 80vh;
  padding: 20px; 
}


@media (max-width: 1020px) {
  .container-historico  .mat-dialog-content {
    width: 100vw; 
    height: 80vh;
    max-width: 90vw;
    max-height: 90vh;
  }
}