<mat-card class="card-formulario-informe-seguimiento">
    <mat-card-content>
      <form [formGroup]="formularioInformeSeguimiento" (ngSubmit)="submitFormularioInformeSeguimiento()">
        <div class="container-formulario-izquierda">
          <div class="container-tipo-pago">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="icon-ayuda" >
              <circle cx="12" cy="12" r="10" fill="white" />
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-size="14px" fill="black">?</text>
            </svg>
            <p class="labels"> TIPO DE PAGO: </p>
            <mat-form-field appearance="outline" class="input-tipo-pago">
              <mat-select  formControlName="tipo_pago">
                <mat-option *ngFor="let tipo_pago of tipos_pago" [value]="tipo_pago">
                  {{tipo_pago.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="container-fechas">
            <p class="labels"> FECHA: </p>
            <mat-form-field appearance="fill" class="selects-fecha">
              <mat-select  formControlName="anio_inicio" placeholder="Año">
                <mat-option *ngFor="let anio of anios" [value]="anio">
                  {{anio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="container-peridos">
              <mat-select  formControlName="periodo_inicio" placeholder="Periodo">
                <mat-option *ngFor="let periodo of periodos" [value]="periodo">
                  {{periodo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <p class="parrafo-fecha-final"> Hasta </p>
            <mat-form-field appearance="fill" class="selects-fecha">
              <mat-select  formControlName="anio_fin" placeholder="Año">
                <mat-option *ngFor="let anio of anios" [value]="anio">
                  {{anio}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="fill" class="container-peridos">
              <mat-select  formControlName="periodo_fin" placeholder="Periodo">
                <mat-option *ngFor="let periodo of periodos" [value]="periodo">
                  {{periodo.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="ultimo_componente">
            <div class="container-cuenta-cobro">
              <p class="label-ultimo-componente"> FACTURA ELECTRONICA DE VENTA O CUENTA DE COBRO </p>
              <mat-form-field class="select-cuenta-cobro">
                <mat-select formControlName="cuenta_cobro" placeholder="-- Tipo">
                    <mat-option *ngFor="let cuenta_cobro of cuentas_cobro" [value]="cuenta_cobro">
                      {{ cuenta_cobro.nombre }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="container-numero-cuenta">
              <p class="label-ultimo-componente"> NÚMERO DE CUENTA O FACTURA </p>
              <mat-form-field class="input-numero-cuenta">
                    <input matInput formControlName="numero_cuenta" type="text">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="container-formulario-medio">
          <div class="container-valor-pagar">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="icon-ayuda" >
              <circle cx="12" cy="12" r="10" fill="white" />
              <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-size="14px" fill="black">?</text>
            </svg>
            <p class="labels"> VALOR A PAGAR:  </p>
            <mat-form-field class="input-valor-pagar">
              <input matInput formControlName="valor_pagar" type="text">
            </mat-form-field>
          </div>
          <div class="container-informacion-bancaria">
            <p class="titulo-informacion-bancaria"> Información bancaria </p>
            <div class="container-tipo-cuenta">
              <p class="labels-informacion-bancaria"> TIPO DE CUENTA: </p>
              <mat-form-field class="select-tipo-cuenta">
                <mat-select formControlName="tipo_cuenta">
                    <mat-option *ngFor="let tipo_cuenta of tipos_cuenta" [value]="tipo_cuenta">
                      {{ tipo_cuenta.nombre }}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="container-numero-cuenta">
              <p class="label-numero-cuenta"> N° CUENTA:  </p>
              <mat-form-field class="input-informacion-bancaria">
                <input matInput formControlName="visualizar_numero_cuenta" type="text">
              </mat-form-field>
            </div>
            <div class="container-banco">
              <p class="labels-informacion-bancaria"> BANCO:  </p>
              <mat-form-field class="input-banco">
                <input matInput formControlName="banco" type="text">
              </mat-form-field>
            </div>
            <div class="container-buttom-cambiar-informacion">
              <button type="submit" class="buttom-cambiar-informacion" >Cambiar información</button>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20" class="icon-ayuda" >
                <circle cx="12" cy="12" r="10" fill="white" />
                <text x="50%" y="50%" text-anchor="middle" dominant-baseline="central" font-size="14px" fill="black">?</text>
              </svg>
            </div>
          </div>
        </div>
        <div class="container-formulario-derecho">
          <div class="botones">
            <button class="boton-guardar" mat-button >Guardar</button>
            <button class="boton-ver" mat-button >Ver</button>
            <button class="boton-crear-informe" mat-button >Crear Informe</button>
          </div>
        </div>
      </form>
    </mat-card-content>
</mat-card>
