<mat-card class="card-informacion-contrato">
  <mat-card-content>
    <div class="wp-contract-form">
      <div class="wp-inputs">
        <p class="labels">Número de Contrato</p>
        <input
          matInput
          disabled="true"
          class="wp-input"
          [value]="contrato.numeroContrato"
        />
      </div>

      <div class="wp-inputs">
        <p class="labels">Nombre del Proveedor</p>
        <input
          matInput
          disabled="true"
          class="wp-input width-input"
          [value]="contrato.nombreProveedor"
        />
      </div>

      <div class="wp-inputs set-margin-left">
        <p class="labels">CDP</p>
        <input
          matInput
          disabled="true"
          class="wp-input"
          [value]="contrato.numeroCdp"
        />
      </div>

      <div class="wp-type-contract">
        <div class="wp-inputs">
          <p class="labels">Tipo de Contrato</p>
          <input
            matInput
            disabled="true"
            class="wp-input"
            [value]="contrato.tipoContrato"
          />
        </div>

        <div class="wp-inputs">
          <p class="labels">Saldo</p>
          <input
            matInput
            disabled="true"
            class="wp-input"
            [value]="contrato.saldo | currency : '$' : 'symbol' : '1.0'"
          />
        </div>
      </div>
      <div class="wp-inputs set-margin-left">
        <p class="labels">CRP</p>
        <input
          matInput
          disabled="true"
          class="wp-input"
          [value]="contrato.rp"
        />
      </div>

      <div class="wp-inputs set-margin-left">
        <p class="labels">Total Contrato</p>
        <input
          matInput
          disabled="true"
          class="wp-input"
          [value]="contrato.total_contrato | currency : '$' : 'symbol' : '1.0'"
        />
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions align="start"> </mat-card-actions>
  <mat-card-footer> </mat-card-footer>
</mat-card>
