<main>
  <mat-card>
    <mat-card-title>
      <article class="cargar-documentos-title">
        <div>
          <h2>Cargar Soportes</h2>
        </div>
      </article>
    </mat-card-title>
    <mat-card-content>
      <div class="nota">
        <p>
          Por favor seleccione el item correspondiente del soporte que desea
          cargar, digite las observaciones acerca del soporte si las hay, una
          vez se haya subido el soporte, presione el boton "CARGAR SOPORTE"
        </p>
      </div>

      <div class="box-item border-test">
        <div class="conten-center">
          <p class="border-item">Items</p>
        </div>

        <div class="grid-form text-center">
          <mat-form-field appearance="outline">
            <mat-select
              [(ngModel)]="opcionSeleccionada"
              placeholder="--Seleccione el item del cual cargara soporte--"
              onchange="updateFileName(this)"
            >
              <mat-option
                *ngFor="let opcion of opciones"
                [value]="opcion.IdTipoDocumento"
              >
                {{ opcion.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="container-item">
        <ng-template *ngIf="opcionSeleccionada != 157">
          <mat-grid-tile>
            <div class="grid-observaciones">
              <p>Observaciones</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="grid-form">
              <textarea
                matInput
                [(ngModel)]="observaciones"
                class="text-area-observaciones"
              ></textarea>
            </mat-form-field>
          </mat-grid-tile>
        </ng-template>
      </div>
      <div class="container-subir-documento">
        <input
          type="file"
          #fileInput
          (change)="onFileSelected($event)"
          style="display: none"
        />
        <mat-form-field appearance="outline" class="input-subir-documento">
          <input
            matInput
            placeholder="Seleccione el archivo ..."
            [value]="fileName"
            disabled="true"
          />
        </mat-form-field>

        <button mat-button class="button-browse" (click)="triggerFileInput()">
          <p class="color-white">Browse ..</p>
        </button>
      </div>

      <div class="container-remover-boton">
        <button mat-button class="remover-button" (click)="removeFile()">
          Remover
        </button>
      </div>

      <br />

      <div class="container-cargar">
        <div>
          <button
            routerLink="/informe-seguimiento"
            mat-button
            class="cargar-button"
            *ngIf="opcionSeleccionada == 157; else cargarSoporte"
            (click)="crearDocumento()"
          >
            Crear Documento
          </button>
        </div>

        <div>
          <ng-template #cargarSoporte>
            <button mat-button class="cargar-button" (click)="uploadFile()">
              Cargar Soporte
            </button>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</main>
