.cargar-documentos-title{
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #98483c;
    padding: 10px;
  }

  .container-name{
    display: flex;
    flex-direction: column;
    width: 25%;
  }

  .card-oas {
    width: calc(100vw - 60px);
    border-radius: 10px;
    width: 920px;
    height: auto;
    margin: 0 auto;
  }

  .nota {
    text-align: center;
    color: grey !important;
    font-size: 15px;
    padding: 10px 80px;
  }

  .grid-form{
    width: 95%;
    height: 50%;
    text-align: center;
    display:flex;
    margin-bottom: 48px;
    justify-content: flex-start;
  }

  .tile-observaciones{
    text-align: center;
    display:flex;
    justify-content: flex-start;
  }

  .grid-tipo-documento{
    width: 95%;
    height: 50%;
    text-align: center;
    display:flex;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  .grid-item {
    margin: 10px;
    padding: 10px 45px 10px 45px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .grid-observaciones{
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
  }

  .input-subir-documento{
    width: 80%;
    padding: 0 0 0 10%;
    margin: 0%;
  }

  .button-browse{
    width: 10%;
    height: 55px;
    color: white;
    background-color: #98483c;
    padding: 10px 5px 10px 0;
    border-radius: 0;
    margin:0%;
  }

  .remover-button{
    background-color: #f8cecc;
    color: #1f1e1e;
    border-radius: 5px;
    width: 15%;
    height: 56px;
    border: 1px solid #b85450;
  }

  .container-remover-boton {
    display: flex;
    justify-content: center;
    margin-top: -23px;
  }


  .container-cargar{
    display: flex;
    justify-content: center;

  }

  .container-subir-documento{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .cargar-button{
    background-color: #d5e8d4;
    color: #1f1e1e;
    border-radius: 5px;
    width: 30%;
    height: 56px;
    border: 1px solid #82b366;
  }

  .mat-button-disabled {
    background-color: #d5e8d4;
    color: #a3a3a3;
    border: 1px solid #82b366;
    cursor: not-allowed;
  }

  .text-area-observaciones{
    resize: none;
  }



