<mat-card class="card-oas">
  <mat-card-title class="cargar-documentos-title">
    <h2>Cargar Soportes</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="nota">
      <p>
        Por favor seleccione el item correspondiente del soporte que desea
        cargar, digite las observaciones acerca del soporte si las hay, una vez
        se haya subido el soporte, presione el boton "CARGAR SOPORTE"
      </p>
    </div>
    <br />
    <form [formGroup]="soporteForm">
      <div class="container-item">
        <mat-grid-list cols="2" rowHeight="4:1">
          <mat-grid-tile>
            <div class="grid-item">
              <p>Item</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field appearance="outline" class="grid-form">
              <mat-select
                formControlName="opcionSeleccionada"
                (selectionChange)="cambioTipoDocumento($event.value)"
                placeholder="--Seleccione el item del cual cargara soporte--">
                <mat-option *ngFor="let opcion of opciones" [value]="opcion.CodigoAbreviacionTipoDocumento">
                  {{ opcion.Nombre }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="soporteForm.get('opcionSeleccionada')?.invalid && soporteForm.get('opcionSeleccionada')?.touched">
                Debe seleccionar una opción.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <div *ngIf="!cumplidoSatisfaccionSeleccionado">
            <mat-grid-tile>
              <div class="grid-observaciones">
                <p>Observaciones</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field appearance="outline" class="grid-form">
                <textarea matInput formControlName="observaciones" class="text-area-observaciones"></textarea>
                <div *ngIf="soporteForm.get('observaciones')?.invalid && soporteForm.get('observaciones')?.touched">
                  <mat-error *ngIf="soporteForm.get('observaciones')?.errors?.['minlength']">
                    Las observaciones deben tener al menos 10 caracteres.
                  </mat-error>
                  <mat-error *ngIf="soporteForm.get('observaciones')?.errors?.['pattern']">
                    No deben haber espacios en blanco al inicio ni al final.
                  </mat-error>
                </div>
              </mat-form-field>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>
      <br />
      <div *ngIf="!cumplidoSatisfaccionSeleccionado" class="container-subir-documento">
        <input type="file" #fileInput (change)="onFileSelected($event)" style="display: none" />
        <mat-form-field appearance="outline" class="input-subir-documento">
          <input matInput placeholder="Seleccione el archivo ..." formControlName="fileName" [value]="fileName" />
        </mat-form-field>

        <button mat-button class="button-browse" (click)="triggerFileInput()">
          Browse ..
        </button>
        <div *ngIf="soporteForm.get('fileName')?.invalid && soporteForm.get('fileName')?.touched">
          <mat-error>Debe seleccionar un archivo PDF.</mat-error>
        </div>
      </div>

      <div *ngIf="!cumplidoSatisfaccionSeleccionado" class="container-remover-boton">
        <button mat-button class="remover-button" (click)="removeFile()">
          Remover
        </button>
      </div>

      <br />

      <div class="container-cargar">
        <button routerLink="/informe-seguimiento" mat-button class="cargar-button"
          *ngIf="cumplidoSatisfaccionSeleccionado; else cargarSoporte" (click)="crearDocumento()">
          Crear Documento
        </button>
        <ng-template #cargarSoporte>
          <button mat-button class="cargar-button" (click)="uploadFile()" [disabled]="soporteForm.invalid">
            Cargar Soporte
          </button>
        </ng-template>
      </div>
    </form>

  </mat-card-content>
</mat-card>
