<mat-card class="card-oas">
  <mat-card-title class="cargar-documentos-title">
    <h2>Cargar Soportes</h2>
  </mat-card-title>
  <mat-card-content>
    <div class="nota">
      <p>
        Por favor, seleccione el ítem correspondiente del soporte que desea
        cargar, digite las observaciones acerca del soporte, si las hay. Una vez
        que se haya subido el soporte, presione el botón "CARGAR SOPORTE".
      </p>
    </div>
    <form [formGroup]="soporteForm">
      <div class="container-item">
        <mat-grid-list cols="4" rowHeight="90px">
          <mat-grid-tile colspan="1" rowspan="1">
            <div class="grid-item">
              <p>Item</p>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="3" rowspan="1" style="margin-top: 20px;">
            <mat-form-field appearance="outline" class="grid-tipo-documento">
              <mat-select
                formControlName="opcionSeleccionada"
                (selectionChange)="cambioTipoDocumento($event.value)"
                placeholder="--Seleccione el item del cual cargara soporte--"
              >
                <mat-option
                  *ngFor="let opcion of opciones"
                  [value]="opcion.CodigoAbreviacionTipoDocumento"
                  (click)="asignarItemId(opcion.IdTipoDocumento)"
                >
                  {{ opcion.Nombre }}
                </mat-option>
              </mat-select>
              <mat-error
                *ngIf="
                  soporteForm.get('opcionSeleccionada')?.invalid &&
                  soporteForm.get('opcionSeleccionada')?.touched
                "
              >
                Debe seleccionar una opción.
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>
          <div *ngIf="!cumplidoSatisfaccionSeleccionado">
            <mat-grid-tile colspan="1" rowspan="1">
              <div class="grid-observaciones">
                <p>Observaciones</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile colspan="3" rowspan="2" class="tile-observaciones">
              <mat-form-field appearance="outline" class="grid-form" style="align-items: start;">
                <textarea
                  matInput
                  formControlName="observaciones"
                  class="text-area-observaciones"
                ></textarea>
                <mat-error
                  *ngIf="soporteForm.get('observaciones')?.errors?.['minlength']"
                >
                  Las observaciones deben tener al menos 10 caracteres.
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile colspan="4" rowspan="1" >
              <div class="container-subir-documento">
                <input
                  type="file"
                  #fileInput
                  (change)="onFileSelected($event)"
                  style="display: none"
                />
                <div class="input-file" (click)="triggerFileInput()">
                  <button mat-button class="button-browse">
                    <mat-icon>attach_file</mat-icon>
                    Cargar
                  </button>
                  <span class="file-name">{{ fileName }}</span>
                </div>
                <button
                  class="button-remove"
                  *ngIf="base64Output != ''"
                  (click)="removeFile()"
                >
                  <mat-icon style="padding: 0px">close</mat-icon>
                </button>
                <div
                  *ngIf="
                    soporteForm.get('fileName')?.invalid &&
                    soporteForm.get('fileName')?.touched
                  "
                >
                  <mat-error>Debe seleccionar un archivo PDF.</mat-error>
                </div>
              </div>
            </mat-grid-tile>
          </div>
        </mat-grid-list>
      </div>

      <div class="container-cargar">
        <button
          routerLink="/cumplido-satisfaccion"
          mat-button
          class="cargar-button"
          *ngIf="cumplidoSatisfaccionSeleccionado; else cargarSoporte"
          (click)="crearDocumento()"
        >
          Crear Documento
        </button>
        <ng-template #cargarSoporte>
          <button
            mat-button
            [class.mat-button-disabled]="soporteForm.invalid"
            class="cargar-button"
            type="submit"
            [disabled]="soporteForm.invalid"
            (click)="uploadFile()"
          >
            Cargar Soporte
          </button>
        </ng-template>
      </div>
    </form>
  </mat-card-content>
</mat-card>
