<ng-container>
  <div class="btn-close">
    <button mat-icon-button mat-dialog-close aria-label="Cerrar">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-card-title class="title">
   <h4>LINEA DEL TIEMPO</h4>
  </mat-card-title>
  <div class="card-history">
   
    <mat-card>
   
      <div class="card-history"></div>
      <div class="estado-list">
        <div *ngFor="let estado of listaEstadosCumplidos; let last=last" class="item-container card-arrow">
          <div class="border-card">
           <div>
            <div><p>{{estado.nombreResponsable}}</p></div>
            <div><p>{{estado.cargo}}</p></div>
            <div><p>{{estado.estado}}</p></div>
            <div><p>{{estado.fecha}}</p></div>
          </div>
           </div>
          <div>
            <div *ngIf="!last" class="arrow-5"></div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="margin-section">
    <mat-card-title class="title">
      <h4>VER SORPORTES</h4>
     </mat-card-title>
     <mat-card
     class="soporte-cumplido-card"
     *ngFor="let soporte of listaDocumentosCargados"
   >
   <app-card-soporte class="margin-10px"
   [soporte]="soporte"
   [config]="this.data.Config"
   [cambioEstadoCumplido]="cambioEstadoCumplido"
   [buttons]="Buttons"
 ></app-card-soporte>
   </mat-card>
  </div>
</ng-container>
