<div class="button-close">

<button mat-icon-button mat-dialog-close aria-label="Cerrar" class="btn-close">
    <mat-icon>close</mat-icon>
  </button>
</div>
<mat-dialog-content>
  <mat-card>

    <div class="title">
      <mat-card-header class="">

        <div class="text">
         <mat-card-title class="text2">
           <div class="">
             <h5  >CARGA  SOPORTES</h5>
           </div>
         </mat-card-title>
        </div>

   </mat-card-header>
    </div>

    <mat-card-content>

      <div class="btn-create">
        <div class="text-center">
          <p>Seleccione la solicitud a la cual va a cargar los soportes</p>
        </div>
        <div>
          <button   mat-button class="button-enviar" (click)="crearCumplidoProveedor()" >Crear solicitud</button>
        </div>
      </div>


      <br>

      <mat-card>
        <div class="mat-elevation-z8">
          <div class="responsive-table">
            <table mat-table [dataSource]="data"  matSort>

                <ng-container matColumnDef="noSolicitud">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header">N° SOLICITUD</th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.noSolicitud}} </td>
                </ng-container>

                <ng-container matColumnDef="numeroContrato">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> N° CONTRATO </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.numeroContrato}} </td>
                </ng-container>

                <ng-container matColumnDef="fechaCreacion">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> FECHA CREACION </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.fechaCreacion | date:'dd/MM/yyyy'}} </td>
                </ng-container>
                <ng-container matColumnDef="periodo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> PERIODO</th>
                    <td mat-cell *matCellDef="let element" class="text-center"> {{element.periodo}} </td>
                  </ng-container>

                <ng-container matColumnDef="estadoSoliciatud">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> ESTADO SOLICITUD </th>
                  <td mat-cell *matCellDef="let element" class="text-center"> {{element.estadoSolicitud | uppercase}} </td>
                </ng-container>

                <ng-container matColumnDef="acciones">
                  <th mat-header-cell *matHeaderCellDef  class="header">ACCIONES </th>
                  <td mat-cell *matCellDef="let element" class="btn-box"><a (click)="openDialog(element)"  color="primary" mat-button><mat-icon fontIcon="folder_open" ></mat-icon></a>
                      <a (click)="cambiarEstado(element)" class="small-icon-button " color="primary" mat-button *ngIf="element.CodigoAbreviacionEstadoCumplido == 'CD' || element.CodigoAbreviacionEstadoCumplido =='RC' || element.CodigoAbreviacionEstadoCumplido =='RO'"  ><mat-icon fontIcon="send"  ></mat-icon></a>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


              </table>
          </div>
          <div *ngIf="data.length > 10">
            <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>

      </mat-card>

    </mat-card-content>

  </mat-card>


</mat-dialog-content>

