<mat-card>
  <div class="mat-elevation-z8">
    <div class="responsive-table">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column.def">
          <th mat-header-cell *matHeaderCellDef mat-sort-header class="header"> {{column.header}} </th>
          <td mat-cell *matCellDef="let element" class="text-center">

            <!-- Si la columna no es ni una fecha ni acciones la agrega normal a la tabla -->
            <span *ngIf="column.def !== 'FechaAprobacion' && column.def !== 'Acciones'">{{element[column.def]}}</span>
            <!-- Si la columna es una fecha, aplica el pipe -->
            <span *ngIf="column.def.toLowerCase().includes('fecha')">{{element[column.def] | date:'dd/MM/yyyy'}}</span>

            <!-- Si la columna es de acciones, muestra los iconos -->
            <span *ngIf="column.def === 'Acciones'">
              <div class="btn-box">
                <a mat-button>
                  <mat-icon color="primary">{{element[column.def].split(',')[0]}}</mat-icon>
                </a>
                <a mat-button (click)="RechazarCumplido(element['CumplidoId'])">
                  <mat-icon color="primary">{{element[column.def].split(',')[1]}}</mat-icon>
                </a>
              </div>

            </span>
          </td>
        </ng-container>

        <!-- Fila de cabecera -->
        <tr mat-header-row *matHeaderRowDef="columnKeys"></tr>

        <!-- Filas de la tabla -->
        <tr mat-row *matRowDef="let row; columns: columnKeys"></tr>

      </table>

    </div>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
