.modal-header {
    display: flex;
    justify-content: flex-end;
}

.cargar-documentos-title {
    text-align: center;
    color: white;
    border-radius: 10px;
    background-color: #98483c;
    padding: 10px;
}

.button-browse {
    width: 10%;
    height: 55px;
    color: white;
    background-color: #98483c;
    padding: 10px 5px 10px 0;
    border-radius: 0;
    margin: 0%;
}

.remover-button {
    background-color: #f8cecc;
    color: #1f1e1e;
    border-radius: 5px;
    width: 15%;
    height: 56px;
    border: 1px solid #b85450;
}

.container-remover-boton {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.container-subir-documento {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.input-subir-documento {
    width: 80%;
    padding: 0 0 0 10%;
    margin: 0%;
}

.cargar-button {
    background-color: #d5e8d4;
    color: #1f1e1e;
    border-radius: 5px;
    width: 30%;
    height: 56px;
    border: 1px solid #82b366;
}

.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}

.text-left {
    text-align: left;

}
.box-descargar-plantilla{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;

}
.title-carga {
    margin: 20px;
}

.descargar-plantilla-button {
    background-color: #f8cecc;
    color: #1f1e1e;
    border-radius: 5px;
    width: auto;
    height: 40px;
    border: 1px solid #b85450;
}

.mat-button-disabled {
    background-color: #85858546;
    color: #0a0909;
    border: 1px solid #646464;
    cursor: not-allowed;
}

