<main>
  <mat-card>
    <section>
      <div>
        <h3 class="title">Gestion Evaluadores</h3>
      </div>
    </section>

    <mat-card class="details-card">
      <section>
        <div class="box-info">
          <div>
            <div class="details-color"><p>Proveedor</p></div>
            <div class="text-info">
              <p>{{ nombreProveedor }}</p>
            </div>
          </div>
          <div>
            <div class="details-color"><p>N° Contrato</p></div>
            <div class="text-info">
              <p>{{ numeroContrato }}</p>
            </div>
          </div>
          <div>
            <div class="details-color"><p>Vigencia</p></div>
            <div class="text-info">
              <p>{{ vigenciaContrato }}</p>
            </div>
          </div>
        </div>
      </section>
    </mat-card>

   
  </mat-card>
</main>
