@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://pruebasassets.portaloas.udistrital.edu.co/gaia-style.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url("https://pruebasassets.portaloas.udistrital.edu.co/oas.css");
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-55');
@import 'assets/styles/theme-angular-material.scss';

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
  }
  .swal2-popup {
    font-weight: normal !important; /* Desactivar negrita */
  }
  
  .swal2-title, .swal2-text {
    font-weight: normal !important; /* Desactivar negrita en título y texto */
  }