.dialog-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; 
  }
  
  .button-close {
    flex: 0 0 auto; 
  }
  
  .action-buttons {
    display: flex;
    justify-content: center; 
    flex: 1;
    gap: 16px;
  }
  
  a.mat-button {
    display: flex;
    align-items: center;
    gap: 8px;
  }