

<section>
  <mat-card>
    <header>
      <div>
        <h3 class="box-title">Evaluacíon proveedor
        </h3>
      </div>
    </header>
<mat-card class="details-card">
  <article>
    <div>
      <h3 class="title-card">Items a Evaluar</h3>
    </div>
    <div class="box-items">
      <div style="margin: 10px;">
          <p>Lista items:</p>
      </div>
      <div class="line-text">
          <div><p class="text-left">Item 1, Item 2, Item 3</p></div>
      </div>
  </div>
  </article>
</mat-card>
    <mat-card class="details-card">
      <article>
        <mat-accordion>
          <mat-expansion-panel [expanded]="true" (opened)="panelEvaluacion = true" (closed)="panelEvaluacion = false">
            <mat-expansion-panel-header class="bg-panel-title">
              <mat-panel-title class="expansion-panel-title-box">
                <div>
                  <h3 class="title color-white">Item a evaluar</h3>
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <app-card-pregunta></app-card-pregunta>

          </mat-expansion-panel>
        </mat-accordion>
      </article>
    </mat-card>
  </mat-card>
</section>